/* Mixin */
.gray-font {
  color: dimgrey;
}
.text-shadow {
  text-shadow: 2px 2px 2px #3D3939;
}
body {
  font-family: Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;
  background-color: #000000;
}
.button-color {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #11c5d9), color-stop(1, #032b40));
  background-image: -o-linear-gradient(bottom, #11c5d9 0%, #032b40 100%);
  background-image: -moz-linear-gradient(bottom, #11c5d9 0%, #032b40 100%);
  background-image: -webkit-linear-gradient(bottom, #11c5d9 0%, #032b40 100%);
  background-image: -ms-linear-gradient(bottom, #11c5d9 0%, #032b40 100%);
  background-image: linear-gradient(to bottom, #11c5d9 0%, #032b40 100%);
}
.orange-gradiant {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f68569), color-stop(1, #802815));
  background-image: -o-linear-gradient(bottom, #f68569 0%, #802815 100%);
  background-image: -moz-linear-gradient(bottom, #f68569 0%, #802815 100%);
  background-image: -webkit-linear-gradient(bottom, #f68569 0%, #802815 100%);
  background-image: -ms-linear-gradient(bottom, #f68569 0%, #802815 100%);
  background-image: linear-gradient(to bottom, #f68569 0%, #802815 100%);
}
.header-image {
  position: relative;
  top: -20px;
  left: -8px;
  background: #00e8fe url(../images/me.jpg) no-repeat top left;
  padding: 0;
  min-height: 520px;
  height: 520px;
  margin: 0;
  width: 102%;
  min-width: 100%;
}
.clouds-image {
  background: url(../images/clouds.jpg) no-repeat top left;
  min-height: 520px;
  height: 520px;
  margin: 0;
  width: 102%;
  min-width: 100%;
}
#nav-menu {
  width: 80px;
  position: fixed;
  top: 35%;
  right: -80px;
  border: 1px solid #3a3b3f;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #11c5d9), color-stop(1, #032b40));
  background-image: -o-linear-gradient(bottom, #11c5d9 0%, #032b40 100%);
  background-image: -moz-linear-gradient(bottom, #11c5d9 0%, #032b40 100%);
  background-image: -webkit-linear-gradient(bottom, #11c5d9 0%, #032b40 100%);
  background-image: -ms-linear-gradient(bottom, #11c5d9 0%, #032b40 100%);
  background-image: linear-gradient(to bottom, #11c5d9 0%, #032b40 100%);
  -webkit-border-radius: 80px 80px 80px 80px;
  -moz-border-radius: 80px 80px 80px 80px;
  border-radius: 80px 80px 80px 80px;
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
}
#nav-menu div {
  margin: 10px;
  padding: 10px;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f68569), color-stop(1, #802815));
  background-image: -o-linear-gradient(bottom, #f68569 0%, #802815 100%);
  background-image: -moz-linear-gradient(bottom, #f68569 0%, #802815 100%);
  background-image: -webkit-linear-gradient(bottom, #f68569 0%, #802815 100%);
  background-image: -ms-linear-gradient(bottom, #f68569 0%, #802815 100%);
  background-image: linear-gradient(to bottom, #f68569 0%, #802815 100%);
  background-color: #338fa5;
  -webkit-border-radius: 80px 80px 80px 80px;
  -moz-border-radius: 80px 80px 80px 80px;
  border-radius: 80px 80px 80px 80px;
  -webkit-box-shadow: 6px 6px 12px -5px #000000;
  -moz-box-shadow: 6px 6px 12px -5px #000000;
  box-shadow: 6px 6px 12px -5px #000000;
}
#nav-menu div i {
  font-size: 40px;
}
#skills-container {
  position: absolute;
  top: 50px;
  left: 315px;
  display: none;
}
#skills-container ul {
  list-style: none;
}
#skills-container ul li {
  display: inline-block;
  margin: 12px;
  -webkit-opacity: 0.9;
  -moz-opacity: 0.9;
  opacity: 0.9;
}
#skills-container ul li div {
  -webkit-box-shadow: 6px 6px 12px -5px #7e7575;
  -moz-box-shadow: 6px 6px 12px -5px #7e7575;
  box-shadow: 6px 6px 12px -5px #7e7575;
  text-align: center;
  -webkit-border-radius: 100px 100px 100px 100px;
  -moz-border-radius: 100px 100px 100px 100px;
  border-radius: 100px 100px 100px 100px;
  width: 120px;
  height: 120px;
}
#skills-container ul li div span {
  position: relative;
  top: 48px;
  color: #ffffff;
  font-size: 18px;
  text-shadow: 2px 2px 2px #3D3939;
}
.skill-circle {
  border: solid 5px #ffffff;
}
.skill0 {
  background-color: #DF7C49;
  border: solid 5px #ffffff;
}
.skill1 {
  background-color: #CDC63C;
}
.skill2 {
  background-color: #61BB53;
}
.skill3 {
  background-color: #BB538A;
}
.skill4 {
  background-color: #227BC5;
}
.skill5 {
  background-color: #E76271;
}
.skill6 {
  background-color: #3F9E93;
}
.skill7 {
  background-color: #59CBAD;
}
#jobs {
  color: #f5f5f5;
}
.tech-value {
  background-color: green;
  width: 40%;
}
