/* Mixin */
.border-radius-custom (@topleft: 5px, @topright: 5px, @bottomleft: 5px, @bottomright: 5px) {
  -webkit-border-radius: @topleft @topright @bottomright @bottomleft;
  -moz-border-radius: @topleft @topright @bottomright @bottomleft;
  border-radius: @topleft @topright @bottomright @bottomleft;
}

//#7E7575;

.shadow(@string: 6px 6px 12px -5px #000000){
  -webkit-box-shadow: @string;
  -moz-box-shadow: @string;
  box-shadow: @string;
}
.gray-font{
  color:dimgrey;
}

.text-shadow{
  text-shadow: 2px 2px 2px #3D3939;
}



body{
  font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;
  background-color: #000000;
}

.button-color{
  background-image: -webkit-gradient(
          linear,
          left top,
          left bottom,
          color-stop(0, #11C5D9),
          color-stop(1, #032B40)
  );
  background-image: -o-linear-gradient(bottom, #11C5D9 0%, #032B40 100%);
  background-image: -moz-linear-gradient(bottom, #11C5D9 0%, #032B40 100%);
  background-image: -webkit-linear-gradient(bottom, #11C5D9 0%, #032B40 100%);
  background-image: -ms-linear-gradient(bottom, #11C5D9 0%, #032B40 100%);
  background-image: linear-gradient(to bottom, #11C5D9 0%, #032B40 100%);

}

.orange-gradiant{
  background-image: -webkit-gradient(
          linear,
          left top,
          left bottom,
          color-stop(0, #F68569),
          color-stop(1, #802815)
  );
  background-image: -o-linear-gradient(bottom, #F68569 0%, #802815 100%);
  background-image: -moz-linear-gradient(bottom, #F68569 0%, #802815 100%);
  background-image: -webkit-linear-gradient(bottom, #F68569 0%, #802815 100%);
  background-image: -ms-linear-gradient(bottom, #F68569 0%, #802815 100%);
  background-image: linear-gradient(to bottom, #F68569 0%, #802815 100%);
}



.opacity (@opacity: 0.5) {
  -webkit-opacity: 	@opacity;
  -moz-opacity: 		@opacity;
  opacity: 		@opacity;
}


.header-image{
  position: relative;
  top: -20px;
  left: -8px;
  background: #00E8FE url(../images/me.jpg) no-repeat top left;
  padding: 0;
  min-height: 520px;
  height: 520px;
  margin: 0;
  width: 102%;
  min-width: 100%;

}

.clouds-image{
  background: url(../images/clouds.jpg) no-repeat top left;
  min-height: 520px;
  height: 520px;
  margin: 0;
  width: 102%;
  min-width: 100%;
}


#nav-menu{
  width: 80px;
  position: fixed;
  top: 35%;
  right:-80px;
  border: 1px solid rgb(58, 59, 63);
  .button-color;
  .border-radius-custom(80px,80px,80px,80px);
  .opacity(0.8);

  div{
      margin:10px;
      padding :10px;
      text-align: center;
      .orange-gradiant;
      background-color: rgb(51, 143, 165);
      .border-radius-custom(80px,80px,80px,80px);
      .shadow;

        i{
          font-size: 40px;
        }
  }

}

#skills-container{

  position: absolute;
  top: 50px;
  left: 315px;
  display:none;

  ul{
    list-style: none;

    li{
      display: inline-block;
      margin: 12px;
      .opacity(0.9);

      div{
       .shadow(6px 6px 12px -5px #7E7575);
        text-align: center;
        .border-radius-custom(100px,100px,100px,100px);
        width: 120px;
        height: 120px;
         span{
           position: relative;
           top: 48px;
           color:#ffffff;
           font-size: 18px;
           .text-shadow;
         }
      }
    }


  }
}

.skill-circle{
  border: solid 5px #ffffff;
}

.skill0{
  background-color: #DF7C49;
  border:solid 5px #ffffff;
}

.skill1{
  background-color: #CDC63C;
}

.skill2{
  background-color: #61BB53;
}

.skill3{
  background-color: #BB538A;
}

.skill4{
  background-color: #227BC5;
}

.skill5{
  background-color: #E76271;
}

.skill6{
  background-color: #3F9E93;
}

.skill7{
  background-color: #59CBAD;
}

#jobs{

  color:#f5f5f5;
  
}

.tech-value{
  background-color: green;
  width:40%;
}

