/* Mixin */
.gray-font {
  color: dimgrey;
}
body {
  font-family: Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;
  /* IE10 Consumer Preview */
  background-image: -ms-linear-gradient(bottom, #276979 0%, #1e353a 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(bottom, #276979 0%, #1e353a 100%);
  /* Opera */
  background-image: -o-linear-gradient(bottom, #276979 0%, #1e353a 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #276979), color-stop(1, #1e353a));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(bottom, #276979 0%, #1e353a 100%);
  /* W3C Markup, IE10 Release Preview */
  background-image: linear-gradient(to top, #276979 0%, #1e353a 100%);
}
.button-color {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #11c5d9), color-stop(1, #032b40));
  background-image: -o-linear-gradient(bottom, #11c5d9 0%, #032b40 100%);
  background-image: -moz-linear-gradient(bottom, #11c5d9 0%, #032b40 100%);
  background-image: -webkit-linear-gradient(bottom, #11c5d9 0%, #032b40 100%);
  background-image: -ms-linear-gradient(bottom, #11c5d9 0%, #032b40 100%);
  background-image: linear-gradient(to bottom, #11c5d9 0%, #032b40 100%);
}
.orange-gradiant {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f68569), color-stop(1, #802815));
  background-image: -o-linear-gradient(bottom, #f68569 0%, #802815 100%);
  background-image: -moz-linear-gradient(bottom, #f68569 0%, #802815 100%);
  background-image: -webkit-linear-gradient(bottom, #f68569 0%, #802815 100%);
  background-image: -ms-linear-gradient(bottom, #f68569 0%, #802815 100%);
  background-image: linear-gradient(to bottom, #f68569 0%, #802815 100%);
}
.header-image {
  position: relative;
  top: -20px;
  left: -15px;
  background-image: url('../images/me.jpg');
  background-repeat: no-repeat;
  background-color: #00E8FE;
  padding: 0;
  min-height: 520px;
  height: 520px;
  margin: 0;
  width: 102%;
  min-width: 100%;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx) {
  .header-image {
    background-image: url("../images/me@2x.jpg");
    background-size: 590px 520px;
  }
}
#social-header {
  position: fixed;
  top: 0px;
  left: 0;
  height: 40px;
  width: 100%;
  min-width: 100%;
  z-index: 999;
  background-color: #030303;
  -webkit-opacity: 0.4;
  -moz-opacity: 0.4;
  opacity: 0.4;
  filter: alpha(opacity=40);
  font-size: 30px;
}
#social-header .mail {
  padding-left: 5px;
  color: #f5f5f5;
}
#social-header ul {
  position: absolute;
  right: 20px;
  top: 0px;
}
#social-header ul li {
  display: inline-block;
}
#social-header ul li i {
  color: #f5f5f5;
}
#nav-menu {
  width: 80px;
  position: fixed;
  top: 35%;
  right: -80px;
  border: 1px solid #3a3b3f;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #11c5d9), color-stop(1, #032b40));
  background-image: -o-linear-gradient(bottom, #11c5d9 0%, #032b40 100%);
  background-image: -moz-linear-gradient(bottom, #11c5d9 0%, #032b40 100%);
  background-image: -webkit-linear-gradient(bottom, #11c5d9 0%, #032b40 100%);
  background-image: -ms-linear-gradient(bottom, #11c5d9 0%, #032b40 100%);
  background-image: linear-gradient(to bottom, #11c5d9 0%, #032b40 100%);
  -webkit-border-radius: 80px 80px 80px 80px;
  -moz-border-radius: 80px 80px 80px 80px;
  border-radius: 80px 80px 80px 80px;
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
#nav-menu div {
  margin: 10px;
  padding: 10px;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f68569), color-stop(1, #802815));
  background-image: -o-linear-gradient(bottom, #f68569 0%, #802815 100%);
  background-image: -moz-linear-gradient(bottom, #f68569 0%, #802815 100%);
  background-image: -webkit-linear-gradient(bottom, #f68569 0%, #802815 100%);
  background-image: -ms-linear-gradient(bottom, #f68569 0%, #802815 100%);
  background-image: linear-gradient(to bottom, #f68569 0%, #802815 100%);
  background-color: #338fa5;
  -webkit-border-radius: 80px 80px 80px 80px;
  -moz-border-radius: 80px 80px 80px 80px;
  border-radius: 80px 80px 80px 80px;
  -webkit-box-shadow: 6px 6px 12px -5px #000000;
  -moz-box-shadow: 6px 6px 12px -5px #000000;
  box-shadow: 6px 6px 12px -5px #000000;
}
#nav-menu div i {
  font-size: 40px;
}
#skills-container {
  position: absolute;
  top: 80px;
  left: 140px;
  display: none;
}
#skills-container ul {
  list-style: none;
}
#skills-container ul li {
  margin: 8px;
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
#skills-container ul li div {
  -webkit-box-shadow: 11px 18px 30px -5px #7e7575;
  -moz-box-shadow: 11px 18px 30px -5px #7e7575;
  box-shadow: 11px 18px 30px -5px #7e7575;
  text-align: center;
  -webkit-border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  border-radius: 20px 20px 20px 20px;
  width: 100px;
  height: 40px;
}
#skills-container ul li div span {
  position: relative;
  top: 5px;
  color: #ffffff;
  font-size: 14px;
  text-shadow: 2px 2px 2px #3d3939;
}
.skill-circle {
  border: solid 5px #ffffff;
}
.skill0 {
  background-color: #DF7C49;
  border: solid 5px #ffffff;
}
.skill1 {
  background-color: #CDC63C;
}
.skill2 {
  background-color: #61BB53;
}
.skill3 {
  background-color: #BB538A;
}
.skill4 {
  background-color: #227BC5;
}
.skill5 {
  background-color: #E76271;
}
.skill6 {
  background-color: #3F9E93;
}
.skill7 {
  background-color: #AE6DE2;
}
#jobs {
  position: relative;
  color: #f5f5f5;
  margin-left: -40px;
}
#jobs ul {
  list-style: none;
}
#jobs ul li {
  display: inline-block;
}
#jobs ul li .job-container {
  padding: 20px;
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
  filter: alpha(opacity=80);
  -webkit-box-shadow: 6px 6px 12px -5px #000000;
  -moz-box-shadow: 6px 6px 12px -5px #000000;
  box-shadow: 6px 6px 12px -5px #000000;
  -webkit-border-radius: 30px 30px 30px 30px;
  -moz-border-radius: 30px 30px 30px 30px;
  border-radius: 30px 30px 30px 30px;
  border: solid 8px #f5f5f5;
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJmOWFhOCIgc3RvcC1vcGFjaXR5PSIwLjY1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjkxJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjA2Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjkzJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjA1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk4JSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyZjlhYTgiIHN0b3Atb3BhY2l0eT0iMCIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDElIiBzdG9wLWNvbG9yPSIjMmY5YWE4IiBzdG9wLW9wYWNpdHk9IjAiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
  background: -moz-linear-gradient(left, rgba(47, 154, 168, 0.65) 0%, rgba(0, 0, 0, 0.06) 91%, rgba(0, 0, 0, 0.05) 93%, rgba(0, 0, 0, 0.01) 98%, rgba(47, 154, 168, 0) 100%, rgba(47, 154, 168, 0) 101%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(47, 154, 168, 0.65)), color-stop(91%, rgba(0, 0, 0, 0.06)), color-stop(93%, rgba(0, 0, 0, 0.05)), color-stop(98%, rgba(0, 0, 0, 0.01)), color-stop(100%, rgba(47, 154, 168, 0)), color-stop(101%, rgba(47, 154, 168, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(47, 154, 168, 0.65) 0%, rgba(0, 0, 0, 0.06) 91%, rgba(0, 0, 0, 0.05) 93%, rgba(0, 0, 0, 0.01) 98%, rgba(47, 154, 168, 0) 100%, rgba(47, 154, 168, 0) 101%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(47, 154, 168, 0.65) 0%, rgba(0, 0, 0, 0.06) 91%, rgba(0, 0, 0, 0.05) 93%, rgba(0, 0, 0, 0.01) 98%, rgba(47, 154, 168, 0) 100%, rgba(47, 154, 168, 0) 101%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(47, 154, 168, 0.65) 0%, rgba(0, 0, 0, 0.06) 91%, rgba(0, 0, 0, 0.05) 93%, rgba(0, 0, 0, 0.01) 98%, rgba(47, 154, 168, 0) 100%, rgba(47, 154, 168, 0) 101%);
  /* IE10+ */
  background: linear-gradient(to right, rgba(47, 154, 168, 0.65) 0%, rgba(0, 0, 0, 0.06) 91%, rgba(0, 0, 0, 0.05) 93%, rgba(0, 0, 0, 0.01) 98%, rgba(47, 154, 168, 0) 100%, rgba(47, 154, 168, 0) 101%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a62f9aa8', endColorstr='#002f9aa8', GradientType=1);
  /* IE6-8 */
}
#jobs ul li .job-container .fa-building {
  position: absolute;
  left: -38px;
}
.tech-value {
  background-color: green;
  width: 40%;
}
.fa-user,
.fa-users,
.fa-building {
  padding: 6px;
  font-size: 18px;
  -webkit-border-radius: 120px 120px 120px 20px;
  -moz-border-radius: 120px 120px 120px 20px;
  border-radius: 120px 120px 120px 20px;
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
  filter: alpha(opacity=80);
  background-color: orangered;
  border: solid 2px #f5f5f5;
}
.fa-code {
  padding: 6px;
  font-size: 18px;
  -webkit-border-radius: 120px 120px 120px 20px;
  -moz-border-radius: 120px 120px 120px 20px;
  border-radius: 120px 120px 120px 20px;
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
  filter: alpha(opacity=80);
  background-color: #cdc63b;
  border: solid 2px #f5f5f5;
}
.projectskills {
  margin: 20px 0;
}
.projectskills .skill-circle {
  border-radius: 100px 100px 100px 100px;
  padding: 10px;
  margin: 10px 0 0 10px;
}
.dev-info {
  padding-left: 5px;
}
.job-role,
.project,
.project-name,
.company-name {
  text-shadow: 0px 0px 24px #f5f5f5;
}
.job-role {
  font-size: 20px;
  margin-bottom: 40px;
}
.project {
  font-size: 18px;
}
.project-name {
  margin-left: 8px;
  font-size: 16px;
}
.project-description {
  margin: 10px 0px 10px 55px;
}
.company {
  position: relative;
  margin: -12px 0 0 35px;
}
.company-name {
  font-size: 18px;
}
.company-description {
  margin: 10px 0;
}
.duration {
  margin-left: 8px;
}
.website {
  position: relative;
  font-size: 12px;
  text-decoration: none;
  color: lightsalmon;
  top: -2px;
  left: 9px;
  margin-right: 8px;
}
.location {
  margin: 0px 0 0 35px;
  font-size: 14px;
}
/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  #skills-container {
    position: absolute;
    top: 80px;
    left: 300px;
    display: none;
  }
  #skills-container ul {
    list-style: none;
  }
  #skills-container ul li {
    display: inline-block;
    margin: 12px;
    -webkit-opacity: 0.9;
    -moz-opacity: 0.9;
    opacity: 0.9;
    filter: alpha(opacity=90);
  }
  #skills-container ul li div {
    -webkit-box-shadow: 11px 18px 30px -5px #7e7575;
    -moz-box-shadow: 11px 18px 30px -5px #7e7575;
    box-shadow: 11px 18px 30px -5px #7e7575;
    text-align: center;
    -webkit-border-radius: 100px 100px 100px 100px;
    -moz-border-radius: 100px 100px 100px 100px;
    border-radius: 100px 100px 100px 100px;
    width: 120px;
    height: 120px;
  }
  #skills-container ul li div span {
    position: relative;
    top: 42px;
    color: #ffffff;
    font-size: 18px;
    text-shadow: 2px 2px 2px #3d3939;
  }
}
/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  #skills-container {
    position: absolute;
    top: 80px;
    left: 300px;
    display: none;
  }
  #skills-container ul {
    list-style: none;
  }
  #skills-container ul li {
    display: inline-block;
    margin: 12px;
    -webkit-opacity: 0.9;
    -moz-opacity: 0.9;
    opacity: 0.9;
    filter: alpha(opacity=90);
  }
  #skills-container ul li div {
    -webkit-box-shadow: 11px 18px 30px -5px #7e7575;
    -moz-box-shadow: 11px 18px 30px -5px #7e7575;
    box-shadow: 11px 18px 30px -5px #7e7575;
    text-align: center;
    -webkit-border-radius: 100px 100px 100px 100px;
    -moz-border-radius: 100px 100px 100px 100px;
    border-radius: 100px 100px 100px 100px;
    width: 120px;
    height: 120px;
  }
  #skills-container ul li div span {
    position: relative;
    top: 42px;
    color: #ffffff;
    font-size: 18px;
    text-shadow: 2px 2px 2px #3d3939;
  }
}
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  #skills-container {
    position: absolute;
    top: 80px;
    left: 300px;
    display: none;
  }
  #skills-container ul {
    list-style: none;
  }
  #skills-container ul li {
    display: inline-block;
    margin: 12px;
    -webkit-opacity: 0.9;
    -moz-opacity: 0.9;
    opacity: 0.9;
    filter: alpha(opacity=90);
  }
  #skills-container ul li div {
    -webkit-box-shadow: 11px 18px 30px -5px #7e7575;
    -moz-box-shadow: 11px 18px 30px -5px #7e7575;
    box-shadow: 11px 18px 30px -5px #7e7575;
    text-align: center;
    -webkit-border-radius: 100px 100px 100px 100px;
    -moz-border-radius: 100px 100px 100px 100px;
    border-radius: 100px 100px 100px 100px;
    width: 120px;
    height: 120px;
  }
  #skills-container ul li div span {
    position: relative;
    top: 42px;
    color: #ffffff;
    font-size: 18px;
    text-shadow: 2px 2px 2px #3d3939;
  }
}
/* Large screens ----------- */
