/* Mixin */
// retina.less
// A helper mixin for applying high-resolution background images (http://www.retinajs.com)

@highdpi: ~"(-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx)";

.at2x(@path, @w: auto, @h: auto) {
  background-image: url(@path);
  @at2x_path: ~`@{path}.replace(/\.\w+$/, function(match) { return "@2x" + match; })`;

  @media @highdpi {
    background-image: url("@{at2x_path}");
    background-size: @w @h;
  }
}


.clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.tag(@colour){
  padding: 6px;
  font-size:18px;
  .border-radius-custom(120px,120px,20px,120px);
  .opacity(0.8);
  background-color: @colour; //orangered;
  border: solid 2px #f5f5f5;
}

.border-radius-custom (@topleft: 5px, @topright: 5px, @bottomleft: 5px, @bottomright: 5px) {
  -webkit-border-radius: @topleft @topright @bottomright @bottomleft;
  -moz-border-radius: @topleft @topright @bottomright @bottomleft;
  border-radius: @topleft @topright @bottomright @bottomleft;
}

.shadow(@string: 6px 6px 12px -5px #000000){
  -webkit-box-shadow: @string;
  -moz-box-shadow: @string;
  box-shadow: @string;
}
.gray-font{
  color:dimgrey;
}

.text-shadow(@string: 2px 2px 2px #3D3939){
  text-shadow: @string;
}



body{
  font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;
  //background-color: #000000;

  /* IE10 Consumer Preview */
background-image: -ms-linear-gradient(bottom, #276979 0%, #1E353A 100%);

  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(bottom, #276979 0%, #1E353A 100%);

  /* Opera */
  background-image: -o-linear-gradient(bottom, #276979 0%, #1E353A 100%);

  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #276979), color-stop(1, #1E353A));

  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(bottom, #276979 0%, #1E353A 100%);

  /* W3C Markup, IE10 Release Preview */
  background-image: linear-gradient(to top, #276979 0%, #1E353A 100%);

}

.button-color{
  background-image: -webkit-gradient(
          linear,
          left top,
          left bottom,
          color-stop(0, #11C5D9),
          color-stop(1, #032B40)
  );
  background-image: -o-linear-gradient(bottom, #11C5D9 0%, #032B40 100%);
  background-image: -moz-linear-gradient(bottom, #11C5D9 0%, #032B40 100%);
  background-image: -webkit-linear-gradient(bottom, #11C5D9 0%, #032B40 100%);
  background-image: -ms-linear-gradient(bottom, #11C5D9 0%, #032B40 100%);
  background-image: linear-gradient(to bottom, #11C5D9 0%, #032B40 100%);

}

.orange-gradiant{
  background-image: -webkit-gradient(
          linear,
          left top,
          left bottom,
          color-stop(0, #F68569),
          color-stop(1, #802815)
  );
  background-image: -o-linear-gradient(bottom, #F68569 0%, #802815 100%);
  background-image: -moz-linear-gradient(bottom, #F68569 0%, #802815 100%);
  background-image: -webkit-linear-gradient(bottom, #F68569 0%, #802815 100%);
  background-image: -ms-linear-gradient(bottom, #F68569 0%, #802815 100%);
  background-image: linear-gradient(to bottom, #F68569 0%, #802815 100%);
}



.opacity (@opacity: 0.5) {
  -webkit-opacity: 	@opacity;
  -moz-opacity: @opacity;
  opacity: @opacity;
  // IE8 filter
  @opacity-ie: (@opacity * 100);
  filter: ~"alpha(opacity=@{opacity-ie})";
}


.header-image{
  position: absolute;
  top: -20px;
  left: -35px;
  right:0;
  .at2x('../images/me.jpg', 590px, 520px);
  background-repeat: no-repeat;
  background-color: #00E8FE;
  padding: 0;
  min-height: 520px;
  height: 520px;
  margin: 0;

}



#social-header{
  position: fixed;
  top: 0px;
  left: 0;
  height: 40px;
  width: 100%;
  min-width: 100%;
  z-index: 999;
  background-color: rgb(3, 3, 3);
  .opacity(0.4);
  font-size: 30px;

    .mail{
      padding-left: 5px;
      color:#f5f5f5;
    }

  ul{
    position: absolute;
    right: 10px;
    top: 0px;

      li{
        display: inline-block;
        i{
          color:#f5f5f5;
        }

      }

  }




}


#nav-menu{
  width: 80px;
  position: fixed;
  top: 35%;
  right:-75px;
  border: 1px solid rgb(58, 59, 63);
  .button-color;
  .border-radius-custom(80px,80px,80px,80px);
  .opacity(0.8);

  div{
      margin:10px;
      padding :10px;
      text-align: center;
      .orange-gradiant;
      background-color: rgb(51, 143, 165);
      .border-radius-custom(80px,80px,80px,80px);
      .shadow;

        i{
          font-size: 40px;
        }
  }

}


#skills-container{

  position: absolute;
  top: 80px;
  left: 150px;


  ul{
    list-style: none;

    li{
      margin: 8px;
      .opacity(0.8);

      div{
        .shadow(11px 18px 30px -5px #7E7575);
        text-align: center;
        .border-radius-custom(20px,20px,20px,20px);
        width: 100px;
        height: 40px;
        span{
          position: relative;
          top: 5px;
          color:#ffffff;
          font-size: 14px;
          .text-shadow;
        }
      }
    }

  }
}


.skill-circle{
  border: solid 5px #ffffff;
}

.skill0{
  background-color: #DF7C49;
  border:solid 5px #ffffff;
}

.skill1{
  background-color: #CDC63C;
}

.skill2{
  background-color: #61BB53;
}

.skill3{
  background-color: #BB538A;
}

.skill4{
  background-color: #227BC5;
}

.skill5{
  background-color: #E76271;
}

.skill6{
  background-color: #3F9E93;
}

.skill7{
  background-color: #AE6DE2;
}




#jobs{
  position: relative;
  color:#f5f5f5;
  //margin-left: -10px;
  //margin-top: 530px;
  margin-top: 530px;
  .text-shadow(2px 2px 2px #3D3939);

  ul{
      list-style: none;
      margin: 0;
      padding: 0;

      li{
        display: inline-block;
         .job-container{

           margin-bottom: 40px;
           padding:20px;
           .opacity(0.8);
           .shadow(14px 14px 23px 0px #000000);
           //.border-radius-custom(30px,30px,30px,30px);
            border:solid 5px #f5f5f5;

           /* IE9 SVG, needs conditional override of 'filter' to 'none' */
           background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJmOWFhOCIgc3RvcC1vcGFjaXR5PSIwLjY1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjkxJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjA2Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjkzJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjA1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk4JSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyZjlhYTgiIHN0b3Atb3BhY2l0eT0iMCIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDElIiBzdG9wLWNvbG9yPSIjMmY5YWE4IiBzdG9wLW9wYWNpdHk9IjAiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
           background: -moz-linear-gradient(left,  rgba(47,154,168,0.65) 0%, rgba(0,0,0,0.06) 91%, rgba(0,0,0,0.05) 93%, rgba(0,0,0,0.01) 98%, rgba(47,154,168,0) 100%, rgba(47,154,168,0) 101%); /* FF3.6+ */
           background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(47,154,168,0.65)), color-stop(91%,rgba(0,0,0,0.06)), color-stop(93%,rgba(0,0,0,0.05)), color-stop(98%,rgba(0,0,0,0.01)), color-stop(100%,rgba(47,154,168,0)), color-stop(101%,rgba(47,154,168,0))); /* Chrome,Safari4+ */
           background: -webkit-linear-gradient(left,  rgba(47,154,168,0.65) 0%,rgba(0,0,0,0.06) 91%,rgba(0,0,0,0.05) 93%,rgba(0,0,0,0.01) 98%,rgba(47,154,168,0) 100%,rgba(47,154,168,0) 101%); /* Chrome10+,Safari5.1+ */
           background: -o-linear-gradient(left,  rgba(47,154,168,0.65) 0%,rgba(0,0,0,0.06) 91%,rgba(0,0,0,0.05) 93%,rgba(0,0,0,0.01) 98%,rgba(47,154,168,0) 100%,rgba(47,154,168,0) 101%); /* Opera 11.10+ */
           background: -ms-linear-gradient(left,  rgba(47,154,168,0.65) 0%,rgba(0,0,0,0.06) 91%,rgba(0,0,0,0.05) 93%,rgba(0,0,0,0.01) 98%,rgba(47,154,168,0) 100%,rgba(47,154,168,0) 101%); /* IE10+ */
           background: linear-gradient(to right,  rgba(47,154,168,0.65) 0%,rgba(0,0,0,0.06) 91%,rgba(0,0,0,0.05) 93%,rgba(0,0,0,0.01) 98%,rgba(47,154,168,0) 100%,rgba(47,154,168,0) 101%); /* W3C */
           filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a62f9aa8', endColorstr='#002f9aa8',GradientType=1 ); /* IE6-8 */


           .fa-building{
                 position:absolute;
                 left: -38px;
               }
         }


      }

  }
  
}

.tech-value{
  background-color: green;
  width:40%;
}

.fa-user,.fa-users,.fa-building {
  .tag(orangered);
  .shadow;
}

.fa-code{
  .tag(#CDC63B);
  .shadow;
}


.projectskills{

  margin: 20px 0;

  .skill-circle{
    border-radius: 100px 100px 100px 100px;
    padding: 10px;
    margin:10px 0 0 10px;
    .shadow;

  }

}

.dev-info{
padding-left:5px;
}


.job-role{
  font-size: 20px;
  margin-bottom: 40px;

}

.project{
  font-size: 18px;
}


.project-name{
  font-size: 20px;
  display: block;

  top: -27px;
  left: 40px;
}

.project-description{
  margin: 10px 0;
  font-size: 14px;
}

.project-detail{
  margin-bottom: 60px;
}


.project-separator{
  position: absolute;
  //top:20px;
  left: 0px;
  background: rgba(0, 0, 0, 0.6);
  height: 2px;
  //width: 100%;
  display: block;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

.company{
  position: relative;
  margin: -12px 0 0 35px;
}

.company-name{
font-size: 18px;
}
.company-description{
  margin:20px 0;
}

.duration{
  margin-left: 8px;
}
.website{
  position: relative;
  font-size: 12px;
  text-decoration: none;
  color: lightsalmon;
  top: -2px;
  left: 9px;
  margin-right: 8px;
}

.location{
  margin: 0px 0 0 35px;
  font-size: 14px;
}

.project-examples{
  margin-bottom: 38px;
  li{
    a{
      margin-left: 25px;
      color: #83CFE0;;
      text-decoration: none;
    }
  }
}


/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {

  .company-description,.project-description{
    font-size:16px;
  }

  .project-description{
    margin: 10px 0px 10px 55px;
  }

  .header-image {
    left: -15px;
  }

  #skills-container{

    position: absolute;
    top: 120px;
    left: 300px;


    ul{
      list-style: none;

      li{
        display: inline-block;
        margin: 12px;
        .opacity(0.9);

        div{
          .shadow(11px 18px 30px -5px #7E7575);
          text-align: center;
          .border-radius-custom(100px,100px,100px,100px);
          width: 120px;
          height: 120px;
          span{
            position: relative;
            top: 42px;
            color:#ffffff;
            font-size: 18px;
            .text-shadow;
          }
        }
      }

    }
  }


}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {


  .company-description,.project-description{
    font-size:16px;
  }

  .project-description{
    margin: 10px 0px 10px 55px;
  }

  .header-image {
    left: -15px;
  }

  #skills-container{

    position: absolute;
    top: 120px;
    left: 60px;


    ul{
      list-style: none;

      li{
        display: inline-block;
        margin: 12px;
        .opacity(0.9);

        div{
          .shadow(11px 18px 30px -5px #7E7575);
          text-align: center;
          .border-radius-custom(100px,100px,100px,100px);
          width: 120px;
          height: 120px;
          span{
            position: relative;
            top: 42px;
            color:#ffffff;
            font-size: 18px;
            .text-shadow;
          }
        }
      }

    }
  }

}



/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {


  .project-description{
    margin: 10px 0px 10px 55px;
  }

  .header-image {
    left: -15px;
  }

  #skills-container{

    position: absolute;
    top: 80px;
    left: 300px;


    ul{
      list-style: none;

      li{
        display: inline-block;
        margin: 12px;
        .opacity(0.9);

        div{
          .shadow(11px 18px 30px -5px #7E7575);
          text-align: center;
          .border-radius-custom(100px,100px,100px,100px);
          width: 120px;
          height: 120px;
          span{
            position: relative;
            top: 42px;
            color:#ffffff;
            font-size: 18px;
            .text-shadow;
          }
        }
      }

    }
  }



}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {



}

